body {
    margin: 0px;
}

#app-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;


}

#game-board {
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;

}

.game-board-space {
    display: flex;
    border: 1px solid black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.disabled {
    cursor: default;
    border: 1px solid lightgray;
    color: lightgray;
}

